local wezterm = require('wezterm')

local config = wezterm.config_builder()

local act = wezterm.action

-- keybinds

{{- if eq .chezmoi.os "windows" }}
config.leader = { key = 'a', mods = 'CTRL', timeout_milliseconds = 1000 }

config.keys = {
    -- split panes
    { key = '"', mods = 'LEADER|SHIFT', action = act.SplitHorizontal({ domain = 'CurrentPaneDomain' }) },
    { key = '%', mods = 'LEADER|SHIFT', action = act.SplitVertical({ domain = 'CurrentPaneDomain' }) },
    -- switch pane
    { key = 'LeftArrow', mods = 'LEADER', action = act.ActivatePaneDirection('Left') },
    { key = 'h', mods = 'LEADER', action = act.ActivatePaneDirection('Left') },
    { key = 'RightArrow', mods = 'LEADER', action = act.ActivatePaneDirection('Right') },
    { key = 'l', mods = 'LEADER', action = act.ActivatePaneDirection('Right') },
    { key = 'UpArrow', mods = 'LEADER', action = act.ActivatePaneDirection('Up') },
    { key = 'k', mods = 'LEADER', action = act.ActivatePaneDirection('Up') },
    { key = 'DownArrow', mods = 'LEADER', action = act.ActivatePaneDirection('Down') },
    { key = 'j', mods = 'LEADER', action = act.ActivatePaneDirection('Down') },
    -- next/previous tab
    { key = 'p', mods = 'LEADER', action = act.ActivateTabRelative(-1) },
    { key = 'n', mods = 'LEADER', action = act.ActivateTabRelative(1) },
    -- new tab
    { key = 'c', mods = 'LEADER', action = act.SpawnTab('CurrentPaneDomain') },
}

for i = 1, 8 do
  -- F1 through F8 to activate that tab
  table.insert(config.keys, {
    key = tostring(i),
    mods = 'LEADER|SHIFT',
    action = act.ActivateTab(i - 1),
  })
end
{{- else if eq .chezmoi.os "linux" }}
config.keys = {}

for i = 1, 8 do
  -- F1 through F8 to activate that tab
  table.insert(config.keys, {
    key = 'F' .. tostring(i),
    action = act.ActivateTab(i - 1),
  })
end
{{- end }}

-- appearance
config.font = wezterm.font('JetBrains Mono', { weight = 'Regular' })
config.font_size = 12

config.use_fancy_tab_bar = false
config.tab_bar_at_bottom = true
config.hide_tab_bar_if_only_one_tab = true

config.color_scheme = 'rose-pine'

config.colors = {
    selection_fg = 'none',
    selection_bg = '#403d52',

    tab_bar = {
        background = '#191724',
        active_tab = {
            bg_color = '#745797',
            fg_color = '#e0def4',
            intensity = 'Normal',
        },
        inactive_tab = {
            bg_color = '#26233a',
            fg_color = '#808080',
        },
        inactive_tab_hover = {
            bg_color = '#c4a7e7',
            fg_color = '#ffffff',
            italic = true,
        },
        new_tab = {
            bg_color = '#1b1032',
            fg_color = '#808080',
        },
        new_tab_hover = {
            bg_color = '#3b3052',
            fg_color = '#909090',
            italic = true,
        },
    },
}

config.window_background_opacity = 1.0

{{- if eq .chezmoi.os "windows" }}
config.default_prog = { 'C:/Program Files/PowerShell/7/pwsh.ee' }
config.front_end = 'WebGpu'
{{- end }}

return config
