.workspace-button:hover {
  color: $theme-btn-hover;
  border-radius: 12px;
}

.workspace-entry {
  padding: .4rem .9rem;
  background-color: rgba($theme-bg, .6);
  border-radius: 12px;
  margin: 0 .25rem;
}

.occupied {
  color: $theme-workspace-occupied;
  background-color: rgba($theme-bg, .8);
}

.current {
  color: $theme-workspace-current;
}
