$dracula-background: rgb(40, 42, 54);
$dracula-selection: rgb(68, 71, 90);
$dracula-foreground: rgb(248, 248, 242);
$dracula-comment: rgb(98, 114, 164);
$dracula-cyan: rgb(139, 233, 253);
$dracula-green: rgb(80, 250, 123);
$dracula-orange: rgb(255, 184, 108);
$dracula-pink: rgb(255, 121, 198);
$dracula-purple: rgb(189, 147, 249);
$dracula-red: rgb(255, 85, 85);
$dracula-yellow: rgb(241, 250, 140);

$theme-bg: $dracula-background;
$theme-popup-bg: $rp-background;
$theme-text: $dracula-foreground;
$theme-selection: $dracula-selection;
$theme-menu-separator: $dracula-comment;
$theme-btn-hover: $dracula-cyan;
$theme-metric-bg: $dracula-background;
$theme-metric-fill: $dracula-cyan;
$theme-workspace-current: $dracula-pink;
$theme-workspace-occupied: $dracula-purple;
$theme-calendar-selected-mon: $dracula-purple;
$theme-calendar-selected-day: $dracula-pink;
$theme-calendar-weekdays: $dracula-cyan;
$theme-calendar-btn-text: $dracula-cyan;
$theme-calendar-btn-arrows: $dracula-cyan;
$theme-calendar-neighbor-days: $dracula-comment;
$theme-dialog-yes: $dracula-cyan;
$theme-dialog-yes-hover: $dracula-cyan;
$theme-dialog-no: $dracula-red;
$theme-dialog-no-hover: $dracula-red;
