.power_button {
  border-radius: 12px;
  padding: .4rem .8rem;
  margin-right: .8rem;
  background-color: rgba($theme-bg, .6);
}

.power_button__restart {
  margin-right: .6rem;
}

.power_button__off {
}
