.keyboard_layout {
  padding: .4rem .4rem;
}

.keyboard_layout_module {
  padding: .4rem .8rem;
  border-radius: 12px;
  margin-right: .6rem;
  background-color: rgba($theme-bg, .6);
}

.keyboard_layout__icon {
  margin-right: .8rem;
}
