$dracula-background: rgb(40, 42, 54);
$dracula-selection: rgb(68, 71, 90);
$dracula-foreground: rgb(248, 248, 242);
$dracula-comment: rgb(98, 114, 164);
$dracula-cyan: rgb(139, 233, 253);
$dracula-green: rgb(80, 250, 123);
$dracula-orange: rgb(255, 184, 108);
$dracula-pink: rgb(255, 121, 198);
$dracula-purple: rgb(189, 147, 249);
$dracula-red: rgb(255, 85, 85);
$dracula-yellow: rgb(241, 250, 140);
